API_ID=7839236 # get this value from my.telegram.org
API_HASH=5c34945e1a52089f3bf434a44b25aa1d # get this value from my.telegram.org
BOT_TOKEN=5836253889:AAFn4opY1cMQ9e2rwmCLntrijSXm3IuTnBA # get this value from @Botfather
MONGO_DB_URI=mongodb+srv://Broken-xD:op~romeo999@cluster0.4lyx7em.mongodb.net/?retryWrites=true&w=majority # get this value from mongodb.com
LOG_GROUP_ID=-1001544088872 # get this value from in your log group 
MUSIC_BOT_NAME=Broken # your music bot name 
STRING_SESSION=AQCUX85DQe6giK8T81MgePkv4zzJuhHn19UG9OQKVWX2Zg_BR54KGtXVY0OJpXA5YJr3XyKHRYLrmneXoHGpW7dyi-wkmrvIEyPNUKC9DX5JMIsYIzSbEvx25tQZDBdxWBbtPO4aO848gRoEC-PoXFYgV3S9-CEMgQp4ojB3a10hiu43j-8P8bQKNEj4xrSCVA_5GzvzfvzlIhEZ5yFpynY0cb-xlp5f70BAoIUlX0Bb5pE9AOuGHOaLstERLbcnsxB1d81XvODyubgpeJ_qbWHefPCNqyvLNfwMtZ1lsoGwdtmTftIrktDB_s_OzZCpcGonBlLHfweCDNNQD9lNzAeMAAAAATzoloIA # get this value from @yukkistringbot
